header.indexHeader {
    width: 100%;
    height: 750px;
    background: center url(../assets/header-home.jpg);
    background-size: cover;
    position: relative;
}

header.indexHeader img {
    @include position(absolute, 0px, -225px)
}