// all of the scss here will be part of the main content


// New techniques area 

.newTechniquesSection {
    background: $secondary;
}

.newTechniquesContainer {
    display: flex;
    padding: 250px 0 100px 0;
    p {
        width: 90%;
        padding: 15px 0 35px 0;
    }

    img {
        box-shadow: -20px 20px $accentColor;
    }

    button a {
        color: white;
    }
}

// gallery area 

.gallerySection {
    background: $primary;
}

.galleryContainer {
    display: flex;
    padding: 100px 0;
    
    img {
        width: calc(100% / 3);
    }
}

.galleryContainer img:nth-child(2) {
    margin: 0 20px;
}

// menu section

.menuSection {
    background: $secondary;
    padding: 100px 0;
}

.menuContainer{
    display: flex;
    flex-wrap: wrap;
    .menuIcon {
        display: flex;
        width: 50%;
        padding: 25px 0;

        p {
            padding: 10px 0;
        }
    }
}

// Discover our products and services area

.discoverUsSection {
    background: $primary;
    position: relative;
}

.discoverUsContainer {
    display: flex;
    flex-direction: row-reverse;
    .leftImage, .rightImage {
        position: absolute;
    }
    .onlineMarket {
        padding-top: 50px;
        padding-bottom: 520px;
        color: $textColor;
        width: calc(50% - 121px);
        margin-left: 121px;
        h3 {
            color: $textColor;
        }
        p {
            padding: 10px 0;
        }
        
    }
    .newLocation {
        padding-top: 520px;
        padding-bottom: 50px;
        color: $textColor;
        text-align: right;
        width: calc(50% - 121px);
        margin-right: 121px;
        h3 {
            color: $textColor;
        }
        p {
            padding: 10px 0;
        }
    }

    button {
        color: $blackTwo;
        background: $secondary;
    }
}

.leftImage {
    left: 0;
    top: -32px;
    box-shadow: 20px 20px 0 -5px $accentColor;
}

.rightImage {
    right: 0;
    bottom: -40px;
    box-shadow: -20px 20px 0 -5px $accentColor;
}

// banner area with the rope image background

.banner {
    
    background: center url(../assets/banner.jpg);
    background-size: cover;
    width: 100%;
    height: 600px;
}

// the search by still area

.byStylesSection {
    background: $secondary;
    padding: 150px 0;
    text-align: center;
    p {
        padding: 20px 0 60px 0;
    }

    button a {
        color: white;
    }
}








