// all of the scss here will be part of the main content


// New techniques area 

.newTechniquesSection {
    background: $secondary;
}

.newTechniquesContainer {
    display: flex;
    padding: 250px 0 100px 0;
    p {
        width: 90%;
        padding: 15px 0 35px 0;
    }

    img {
        box-shadow: -15px 15px #0cadc0;
    }
}

// gallery area 

.gallerySection {
    background: $primary;
}

.galleryContainer {
    display: flex;
    padding: 100px 0;
    
    img {
        width: calc(100% / 3 - 20px);
    }
}

.galleryContainer img:nth-child(2) {
    margin: 0 20px;
}

// menu section

.menuSection {
    background: $secondary;
    padding: 100px 0;
}

.menuContainer{
    display: flex;
    flex-wrap: wrap;
    .menuIcon {
        display: flex;
        width: 50%;
        padding: 25px 0;

        p {
            padding: 10px 0;
        }
    }
}

// Discover our products and services area

.discoverUsSection

// banner area with the rope image background

.banner {
    
    background: center url(../assets/banner.jpg);
    background-size: cover;
    width: 100%;
    height: 600px;
}





