// this is the media querys page 

// media querys for the index page
@media (max-width: 1500px) {
    .indexHeader img {
        width: 700px;
    }
}

@media (max-width: 1215px) {
    .discoverUsContainer {
        flex-direction: column;
        .leftImage, .rightImage {
            position: relative;
        }
        
        .onlineMarket {
            width: 100%;
            margin: 0;
            padding-top: 50px;
            text-align: center;
            padding-bottom: 0;
        }
        
        .newLocation {
            width: 100%;
            padding-top: 120px;
            margin: 0;
            text-align: center;
        }
    }
}

@media (max-width: 1000px) {
    header.indexHeader img {
        width: 550px;
        @include position(absolute, 0, -125px)
    }

    .indexHeader h1 {
        width: 400px;
    }

    .newTechniquesContainer {
        flex-direction: column;
        align-items: center;
        text-align: center;
        p {
            width: 100%;
        }
        button {
            margin-bottom: 50px;
        }
    }

    .menuContainer {
        flex-direction: column;
        .menuIcon {
            flex-direction: column;
            text-align: center;
            width: 100%;
            .logo {
                text-align: center;
            }
        }
    }



// this area has all the media querys that will switch up the nav bar
    i.fa-bars {
        visibility: visible;
        color: $textColor2;
        font-size: 30px;
    }

    nav {
        justify-content: space-between;
        ul {
            display: none;
        }
    }
}

@media(max-width: 730px) {
    
    
    header.indexHeader  {
        width: 100vw;
        height: 700px;
        img {
            width: 450px;
        }
    }

    .galleryContainer {
        flex-direction: column;
        align-items: center;
        img {
            width: 80%;
            margin: 65px;
        }
    }

    @media (max-width: 575px) {
        header.indexHeader img {
            width: 300px;
            @include position(absolute, 0, 0)
        }

        .indexHeader h1 {
            width: 200px;
        }

        .newTechniquesContainer {
            padding-top: 55px;
            img {
                width: 250px;
                height: 250px;
            }
        }

        .galleryContainer {
            padding: 0;
        }
    }
}
// media querys for index ends here

// mediia querys for blog area will start here 

@media (max-width: 1346px) {
    .newCollectionSection {
        .newCollectionContainer {
            flex-direction: column;
            align-items: center;
            aside {
                width: 35%;
                height: 950px;
            }
    
        }
    }

    .formContainer {
        flex-direction: column;
    }

    .commentContainer form input[type=text] {
        width: 100%;
        margin: 0 0 50px 0;
    }
    
    .commentContainer form input[type=email] {
        width: 100%;
    }

}

@media (max-width: 766px) {
    .newCollectionSection .newCollectionContainer div {
        width: 80%;
    }

    .newCollectionSection .newCollectionContainer aside {
        width: 50%;
    }

    .commentContainer {
        width: 100%;
    }
}

@media (max-width: 550px) {
    .newCollectionSection .newCollectionContainer div {
        width: 90%;
    }

    .newCollectionSection .newCollectionContainer aside {
        width: 80%;
    }

    .flexContainer {
        flex-direction: column;
        align-items: center;
        text-align: center;
        img {
            width: 100px;
            height: 100px;
        }
    }

    .flexContainer p:nth-of-type(1) {
        margin-bottom: 10px;
    }
}

// media query for blog are ends here 

// media query for contact page starts here

@media (max-width: 1460px) {
    .contactInfo {
        margin-left: 25%;
        margin-top: 500px;
    }
}

@media (max-width: 1100px) {
    .contactSection form {
        width: 90%;
        position: relative;
        top: -330px;
        left: 47px;
    }

    .contactInfo {
        margin-top: -170px;
    }
}

@media(max-width: 762px) {
    .contactSection .formTop {
        flex-direction: column;
    }

    .contactSection input[type=email] {
        width: 100%;
    }
    
    .contactSection input[type=text] {
        width: 100%;
    }

    .contactSection form {
        width: 80%;
    }
}

@media (max-width: 482px) {
    .contactSection form {
        width: 75%;
    }

    .contactHeader h1 {
        width: 300px;
        line-height: 100px;
    }
}

