nav {
    display: flex;
    padding-bottom: 40px;
    padding-top: 20px;
    h4 {
        width: 60%;

    }    
    ul {
        width: 40%;
        display: flex;
        justify-content: space-around;
            
    }
     
} 

