// area for the navagation bar
nav {
    display: flex;
    height: 70px;
    padding: 20px 0;
  
    h4 {
        width: 60%;


    }    
    ul {
        width: 40%;
        display: flex;
        justify-content: space-around;
       
        li {
            color: $textColor2;
            height: 30px;
        }
            
    }
    li:hover, li:focus-within {
        border-bottom: 2px solid $accentColor;
    }
     
}

// hover to make nav bar slideout on media query

// nav:hover ul {
//     right: 0;
//     visibility: visible;
// }


