nav {
    display: flex;
    height: 29px;
    h4 {
        width: 60%;


    }    
    ul {
        width: 40%;
        display: flex;
        justify-content: space-around;
            
    }
    li:hover {
        border-bottom: 2px solid #0cadc0;
    }
     
} 

