// standard setting and features for pages

html {
    font-size: 125%;
    color: $blackOne;
    font-family: $baseFont;
}

h1,
h2,
h3,
h4,
ul,
p, 
fieldset {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: $blackTwo;
}

h1 {
    font-size: 2.9rem;
    line-height: 68px;
    width: 600px;
    color: $textColor2;
}

h2 {
    font-size: 2.15rem;
    line-height: 58px;
    letter-spacing: 2.7px;
    color: $textColor2;
}

h3 {
    font-size: 2rem;
    color: $textColor2;
    
}

h4 {
    font: 1.75rem;
    letter-spacing: 2.9px;
}

button {
    font-family: $baseFont;
    font-size: 1.35rem;
    text-align: center;
    line-height: 32px;
    letter-spacing: 1.4px;
    border: none;
    background-color: $textColor2;
    color: $textColor;
    padding: 10px 30px;
    transition: font-size 0.6s ease ;
}


// all buttons will slightly change size when hovered
button:hover, button:focus {
    font-size: 1.4rem;
} 

ul li {
    font-family: $secondFont;
    font-size: 1rem;
    text-align: center;
    font-weight: 700;
    letter-spacing: 1.4px;
    line-height: 29px;
}

p {
    font-family: $secondFont;
    font-weight: normal;
    font-size: 1rem;
    line-height: 28px;
    letter-spacing: 2px;

}


fieldset {
    border: none;
}



.biggerH1 {
    font-size: 3.4rem;
    line-height: 64px;

}

.wrapper {
    width: 85%;
    max-width: 1200px;
    margin: 0 auto;
}



i.fa-calendar-check,
i.fa-users,
i.fa-file,
i.fa-phone {
    visibility: visible;
    color: $textColor;
    font-size: 1.5rem;
    line-height: 24px;
    letter-spacing: 1.7px;
    background-color: $accentColor;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    padding-top: 11px;
    margin-top: 8px;
    margin-right: 20px;
}

i.fa-bars {
    visibility: hidden;
}

nav:hover ul {
    right: 0;
    visibility: visible;
}



i.fa-copyright {
    visibility: visible;
}

i.fa-facebook-f,
i.fa-instagram,
i.fa-whatsapp,
i.fa-twitter {
    font-size: 1.5rem;
    padding-right: 15px;
}


