$primary: #21404f;
$secondary: #ccedfb;
$text: #1a315c;

$baseFont: 'Pacifico', cursive;
$secondFont: 'Lato', sans-serif;

@mixin position($type, $left, $bottom, $right, $top) {
    position: $type;
    left: $left;
    bottom: $bottom;
    right:$right;
    top:$top;
}

@import "normalize";
@import "nav";
@import "standards";
@import "indexHeader";
@import "indexMain";














