$primary: #21404f;
$secondary: #ccedfb;
$textColor2: #1a315c;
$blackOne: #1e1713;
$textColor: #fff;
$blackTwo: #161515;
$accentColor: #0cadc0;


$baseFont: 'Pacifico', cursive;
$secondFont: 'Lato', sans-serif;

@mixin position($type, $left, $bottom) {
    position: $type;
    left: $left;
    bottom: $bottom;
}

@import "normalize";
@import "standards";
@import "nav";
@import "footer";
@import "indexHeader";
@import "indexMain";
@import "blogHeader";
@import "blogMain";
@import "contactPage";
@import "mediaQuerys";















