$primary: #21404f;
$secondary: #ccedfb;
$text: #1a315c;

$baseFont: 'Pacifico', cursive;
$secondFont: 'Lato', sans-serif;

@mixin position($type, $left, $bottom) {
    position: $type;
    left: $left;
    bottom: $bottom;
}

@import "normalize";
@import "nav";
@import "standards";
@import "indexHeader";
@import "indexMain";
@import "footer";














