html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 40px;
  padding-top: 20px;
}
nav h4 {
  width: 60%;
}
nav ul {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

html {
  font-size: 125%;
  color: #1a315c;
  font-family: "Pacifico", cursive;
}

h1,
h2,
h3,
h4,
ul,
p {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #1a315c;
}

h1 {
  font-size: 2.9rem;
  line-height: 68px;
  width: 600px;
}

h2 {
  font-size: 2.15rem;
  line-height: 58px;
  letter-spacing: 2.7px;
}

h3 {
  font-size: 2rem;
}

h4 {
  font: 1.75rem;
  letter-spacing: 2.9px;
}

button {
  font-family: "Pacifico", cursive;
  font-size: 1.35rem;
  text-align: center;
  line-height: 32px;
  letter-spacing: 1.4px;
  border: none;
  background-color: #1a315c;
  color: #fff;
  padding: 10px 30px;
}

ul li {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  text-align: center;
  font-weight: 700;
  letter-spacing: 1.4px;
  line-height: 29px;
}

p {
  font-family: "Lato", sans-serif;
  font-weight: normal;
  font-size: 1rem;
  line-height: 28px;
  letter-spacing: 2px;
}

.biggerH1 {
  font-size: 3.4rem;
  line-height: 64px;
}

.wrapper {
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;
}

i.fa-calendar-check,
i.fa-users,
i.fa-file,
i.fa-phone {
  visibility: visible;
  color: #fff;
  font-size: 1.5rem;
  line-height: 24px;
  letter-spacing: 1.7px;
  background-color: #0cadc0;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  padding-top: 11px;
  margin-top: 8px;
  margin-right: 20px;
}

i.fa-copyright {
  visibility: visible;
}

header.indexHeader {
  width: 100%;
  height: 750px;
  background: center url(../assets/header-home.jpg);
  background-size: cover;
  position: relative;
}

header.indexHeader img {
  position: absolute;
  left: 0px;
  bottom: -225px;
}

.newTechniquesSection {
  background: #ccedfb;
}

.newTechniquesContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 250px 0 100px 0;
}
.newTechniquesContainer p {
  width: 90%;
  padding: 15px 0 35px 0;
}
.newTechniquesContainer img {
  -webkit-box-shadow: -15px 15px #0cadc0;
          box-shadow: -15px 15px #0cadc0;
}

.gallerySection {
  background: #21404f;
}

.galleryContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 0;
}
.galleryContainer img {
  width: calc(100% / 3 - 20px);
}

.galleryContainer img:nth-child(2) {
  margin: 0 20px;
}

.menuSection {
  background: #ccedfb;
  padding: 100px 0;
}

.menuContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.menuContainer .menuIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  padding: 25px 0;
}
.menuContainer .menuIcon p {
  padding: 10px 0;
}

.banner {
  background: center url(../assets/banner.jpg);
  background-size: cover;
  width: 100%;
  height: 600px;
}